/*************************
Header
**************************/

header {
    display: block;
    padding-right: 15px;
    margin: 0;
}

#menu-container {
    display: block;
    margin: auto;
    width: 300px;
    padding-left: 10px;
    padding-bottom: 30px;
}

#menu-container button, button > a {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 300;
    text-decoration: none;
    color: black;
    width: 110px;
}

#button-restart {
    float: left;
    margin-left: 0;
}

#button-help {
    float: right;
    margin-right: 10px;
}


/*************************
Welcome container (for the initial page)
**************************/

#welcome > h3 {
    font-family: Arial, sans-serif;
    color: blue;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    margin: 0 0 10px 0;
}

#welcome > p {
    font-family: Arial, sans-serif;
    color: black;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    font-style: italic;
    margin: 15px;
}


/*************************
Play container (for playing the game)
**************************/

#play {
    display: none;
}

#play > h3 {
    font-family: Arial, sans-serif;
    color: blue;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    margin: 0 0 10px 0;
    padding: 0;
}


/*************************
Board
**************************/

#game-board {
    display: block;
    margin: auto;
    clear: both;
}

.board-row {
    display: block;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
    width: 300px;
}

.square {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px black solid;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-green {
    background-color: green;
}


/*************************
Start Buttons
**************************/

#start-buttons-container {
    display: block;
    margin: auto;
    clear: both;
    width: 250px;
    padding-top: 25px;
}

#start-buttons-container > button {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: red;
    width: 110px;
}

#start-classic {
    float: left;
    margin-left: 0;
}

#start-toroid {
    float: right;
    margin-right: 10px;
}


/*************************
Score
**************************/

#score-container {
    display: block;
    margin: auto;
    width: 280px;
    height: 130px;
}

.score-frame {
    display: block;
    width: 110px;
    height: 130px;
    border: black 1px solid;
}

#player1.score-frame {
    float: left;
    background-color: black;
    margin-left: 10px;
}

#player2.score-frame {
    float: right;
    background-color: white;
    margin-right: 20px;
}

.score {
    color: red;
    font-family: Arrial, sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.name {
    color: orange;
    font-family: Terminus, monospace;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 3px;
}

.hint {
    color: orange;
    font-family: Arrial, sans-serif;
    font-size: 9px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
}


/*************************
Messages
**************************/

#message-container {
    display: block;
    background-color: #909090;
    margin-top: 10px;
}

#message-content {
    display: block;
    clear: both;
    margin: auto;
    font-size: 25px;
    font-weight: 600;
    font-family: Arial, sans-serif;
    width: 350px;
    text-align: center;
    padding: 5px;
}

#new-player {
    display: none;
    clear: both;
    margin: auto;
    width: 350px;
    text-align: center;
    padding: 5px;
}

.font-black {
    color: black;
}

.font-white {
    color: white;
}

/*************************
Footer
**************************/

footer {
	position: fixed;
    bottom: 0;
    width: 98%;
}

footer > p {
    margin: auto;
    padding-bottom: 5px;
    width: 300px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-style: italic;
}


/*************************
Help Navigation Menu
**************************/

.navbar {
    position: fixed;
    top: 0;
    left: -5px;
    overflow: hidden;
    width: 105%;
    background-color: green;
    padding: 0;
    margin: 0;
}

.navbar a {
    display: block;
    float: left;
    margin: 0;
    padding: 7px 15px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-size: 15px;
    color: white;
}


/*************************
Help Main Text
**************************/

.main {
    font-family: Arial, sans-serif;
}

section {
    padding-top: 25px;
}

li {
    padding-bottom: 5px;
}

.red {
    color: red;
    font-weight: 700;
    font-size: 110%;
}

.green {
    color: green;
    font-weight: 700;
    font-size: 110%;
}

.note {
    font-weight: 700;
    font-size: 120%;
    font-style: italic;
    background: orange;
}