/*************************
Header
**************************/

header {
    display: block;
    font-family: Arial, sans-serif;
    color: blue;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    font-style: italic;
    padding-top: 15px;
    padding-bottom: 15px;
}


/*************************
Header
**************************/
#myScore {
    display: block;
    margin: auto;
    width: 250px;
    height: 80px;
}
.score {
    display: inline-block;
    width: 75px;
    height: 75px;
    border: black 1px solid;
    color: red;
    font-family: Arrial, sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

#player1-score {
    float: left;
    background-color: white;
    margin-left: 10px;
}

#player2-score {
    float: right;
    background-color: black;
    margin-right: 20px;
}

/*************************
Test Buttons
**************************/

#myButtons {
    display: block;
    margin: auto;
    clear: both;
    width: 250px;
}

button {
    display: inline-block;
    font-size: 20px;
    font-style: bold;
    color: red;
    width: 110px;
}

#start-classic {
    float: left;
    margin-left: 0px;
}

#start-toroid {
    float: right;
    margin-right: 10px;
}

/*************************
Board
**************************/

#my-board {
    display: block;
    margin: auto;
    clear: both;
}

.board-row {
    display: block;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
    width: 300px;
}

.square {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px black solid;
}

/*************************
Messages
**************************/

#message-player {
    background-color: #909090;
    margin: auto;
}

#message-player h1 {
    font-size: 25px;
    font-family: Arial, sans-serif;
    width: 300px;
    margin: auto;
    padding-left: 10px;
}

/*************************
Colors
**************************/

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-green {
    background-color: green;
}

.font-white {
    color: white;
}

.font-black {
    color: black;
}