/*************************
Header
**************************/

header {
    display: block;
    font-family: Arial, sans-serif;
    color: blue;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    padding-right: 15px;
    margin: 0px;
}

header p {
    margin: 5px;
}


/*************************
Score
**************************/
#score-display {
    display: block;
    margin: auto;
    width: 280px;
    height: 130px;
}

.score-frame {
    display: block;
    width: 110px;
    height: 130px;
    border: black 1px solid;
}

#player1.score-frame {
    float: left;
    background-color: black;
    margin-left: 10px;
}

#player2.score-frame {
    float: right;
    background-color: white;
    margin-right: 20px;
}

.score {
    color: red;
    font-family: Arrial, sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.name {
    color: orange;
    font-family: Arrial, sans-serif;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 3px;
}

.hint {
    color: orange;
    font-family: Arrial, sans-serif;
    font-size: 9px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
}

.new-name {
    display: none;
    width: 150px;
}

/*************************
Test Buttons
**************************/

#start-buttons {
    display: block;
    margin: auto;
    clear: both;
    width: 250px;
}

#start-buttons > button {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: red;
    width: 110px;
}

#start-classic {
    float: left;
    margin-left: 0px;
}

#start-toroid {
    float: right;
    margin-right: 10px;
}

/*************************
Board
**************************/

#my-board {
    display: block;
    margin: auto;
    clear: both;
}

.board-row {
    display: block;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
    width: 300px;
}

.square {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px black solid;
}

/*************************
Messages
**************************/

#message-section {
    background-color: #909090;
    margin-top: 10px;
}

#message-section > div {
    display: block;
    clear: both;
    margin: auto;
    font-size: 25px;
    font-weight: 600;
    font-family: Arial, sans-serif;
    width: 350px;
    text-align: center;
}

/*************************
Colors
**************************/

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-green {
    background-color: green;
}

.font-white {
    color: white;
}

.font-black {
    color: black;
}

/*************************
Colors
**************************/

.not-shown {
    display: none;
}

.shown {
    display: block;
}

/*------------------------------------------------- Footer */

footer {
	position: absolute;
    bottom: 0;
    width: 98%; < d
}

footer > p {
    margin: auto;
    padding-bottom: 5px;
    width: 300px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-style: italic;
}


/*------------------------------------------------- Nav */

nav {
    display: block;
    margin: auto;
    width: 300px;
    padding-left: 10px;
    padding-bottom: 30px;
}

nav > button {
    display: inline-block;
    font-size: 15px;
    font-weight: 200;
    color: black;
    width: 110px;
}

#nav-home {
    float: left;
    margin-left: 0px;
}

#nav-help {
    float: right;
    margin-right: 10px;
}